
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@config "./tailwind.config.js";


@tailwind base;
h1 {
    @apply font-bold;
  }


@tailwind components;
@tailwind utilities;


*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}


ul {
    list-style-type: none;
}

a {
    cursor: pointer;
}

.discover-section {
    background-image: url("./src/assets/walking-through.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100dvh;
}


.max-60 {
    max-width: 60%;
  }
  